body {
    margin: 0;
    font-size: 1em;
    font-family: "Roboto Mono";

    background: rgb(0,79,179);
    background: linear-gradient(28deg, rgba(0,79,179,1) 0%, rgba(0,0,255,1) 46%, rgba(0,110,133,1) 100%);
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;    
}


.activity-div {
    height: 10vh;
}

#idea-btn {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 1px solid darkred;
    cursor: pointer;
}

#idea-btn:hover,
#idea-btn:focus {
    background-color: #8b000032;
}